---
import products from '../../data/products.json';

interface Product {
  id: number;
  name: string;
  image: string;
  price: number;
  description: string;
}

export function getStaticPaths() {
  return products.map((product) => ({
    params: { id: product.id.toString() },
  }));
}

const { id } = Astro.params;
const product = products.find((p) => p.id === Number(id)) as Product;

import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <section class="w-full max-h-screen overflow-hidden">
    <a onclick="history.back()" class="back-link cursor-pointer">← Volver</a>
    <div class="flex w-full">
      <div class="flex justify-center w-1/2 h-full">
        <img src={'../'+product.image} alt={product.name} class="h-full" />
      </div>
      <div class="w-1/2">
        <h2>{product.name}</h2>
        <p>{product.description || "Sin descripción disponible."}</p>
        <p class="price">Precio: ${product.price}</p>
      </div>
    </div>
  </section>
</Layout>