<header class="min-w-full h-18 flex fixed z-50">
    <nav class="w-full h-full flex items-center bg-blue-500">
        <ul class="flex items-center justify-between min-w-full px-40">
            <li><a href="/" aria-label="Ir a la página principal"><img src="logo.png" alt="Logo de la marca"></a></li>
            <li>
                <ul class="flex gap-4">
                    <li><a href="/seccion1" aria-label="Ir a la sección 1">Sección 1</a></li>
                    <li><a href="/seccion2" aria-label="Ir a la sección 2">Sección 2</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>